<html lang="en">
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <h1>About Me</h1>
    <p>My name is Asa DeHaan, I am a junior developer. I work mainly with environmental data from climate monitoring stations across Colorado. I am working on developing an environmental data pipeline that automates retrieval,
    QA/QC, storage, and dissemenation.
    I am working through backend development courses and the Astro introductory tutorial to make a portfolio webpage so I can share my achievements.</p>
    <p>I have little experience with front end development, but Astro seems to be the way to go these days. This site will update as I complete the tutorial and continue beyond it to build out my site</p>
  </body>
</html>
